@use '../theme' as *;

@layer ui {
	.editable-data-container {
		@include card($background);

		box-shadow: none;
		padding: 15px;
		margin-bottom: 15px;

		.editable-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			flex-wrap: wrap;
			gap: 15px;

			h2 {
				margin: 0;
			}

			.button-group {
				max-width: calc(66% - 40px);

				button {
					flex: 0 0 150px;
					padding: 11px 18px;

					&.save-button {
						@include button($success);
					}
				}
			}
		}

		h3 {
			margin-top: 0;
			margin-bottom: 15px;
		}

		.match-info-edit {
			margin-bottom: 30px;

			.form-grid {
				display: flex;
				flex-flow: row wrap;
				gap: 15px;

				.form-group {
					min-width: 120px;
					display: flex;
					flex-direction: column;
					flex: 2;

					&.score-field {
						flex: 1;
					}

					label {
						height: 100%;
						font-weight: bold;
						margin-bottom: 5px;
						padding: 4px 12px;
						font-size: 13px;
					}
				}
			}
		}
		.players-edit {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;

			@media (max-width: 1200px) {
				grid-template-columns: 1fr;
			}

			.team-section {
				h4 {
					margin-top: 0;
					margin-bottom: 10px;

					&.blue-team {
						color: get($success, 'base-dark');
					}

					&.red-team {
						color: get($error, 'base-dark');
					}
				}
			}
		}

		.table-wrapper table {
			width: 100%;
			border-collapse: collapse;

			thead tr {
				background-color: $background;
				border-bottom: 2px solid get($neutral, 'sep');

				th.hero-column,
				th.name-column {
					text-align: left;
				}
				th {
					padding: 12px;
					text-align: right;
					font-size: 14px;
					font-weight: 600;
					color: get($neutral, 'fg');
				}
			}

			tbody tr {
				border-bottom: 1px solid get($neutral, 'sep');

				td {
					padding: 0;

					&.name-column {
						width: 23%;
					}
					&.hero-column input,
					&.name-column input {
						text-align: left;
					}

					input {
						width: 100%;
						text-align: right;
					}
				}
			}
		}
	}
}
