@use 'sass:color';
@use 'theme' as *;

@layer override {
	button#delete-all-records {
		@include button($error);
	}
}

@layer screen {
	@scope (#game-records-screen) to (.expanded-details) {
		.records-table-wrapper thead tr {
			@include shadow;
			position: sticky;
			z-index: 1;
			top: 0;
		}
	}

	#game-records-screen {
		@include container;

		.empty-state {
			@include card($background);

			padding: 40px;
			text-align: center;
			color: get($neutral, 'fg-light');

			p {
				font-size: 18px;
				margin: 0;
			}
		}

		.records-table-wrapper {
			@include card(get($neutral, 'bg-light'));
			padding: 0;
			contain: paint;

			table {
				width: 100%;
				border-collapse: collapse;
			}

			thead tr {
				background-color: get($grey, 'base');
				color: $white;

				th {
					padding: 12px;
					text-align: left;
					font-weight: bold;

					&.center {
						text-align: center;
					}
				}
			}

			tbody tr {
				border-bottom: 1px solid get($neutral, 'sep');
				cursor: pointer;

				&.expanded {
					background-color: $background;
					border-bottom-color: transparent;
				}

				td {
					padding: 12px;

					&.center {
						text-align: center;
					}

					&.expanded-details {
						cursor: default;
					}
				}

				.delete-button {
					@include button-small(get($error, 'base'));
				}
			}
		}

		.result-badge {
			@include badge($background);

			&:not(.empty)::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: radial-gradient(
					circle at calc(50% - 14px) calc(50% - 28px),
					hsla(240, 100%, 100%, 0.35) 0%,
					hsla(257, 100%, 97%, 0.1) 66%,
					transparent 100%
				);
				border-radius: 4px;
				pointer-events: none;
			}

			&.victory {
				@include badge(get($success, 'base'));
				text-shadow: 1px 2px 1px rgba(0, 8, 4, 0.05);
				box-shadow:
					inset 1px 2px 3px rgba(0, 8, 4, 0.05),
					inset 2px 4px 6px rgba(0, 8, 4, 0.05);
			}

			&.defeat {
				@include badge(get($error, 'base'));
				text-shadow: 1px 2px 1px rgba(10, 0, 0, 0.05);
				box-shadow:
					inset 1px 2px 3px rgba(10, 0, 0, 0.05),
					inset 2px 4px 6px rgba(10, 0, 0, 0.05);
			}
		}

		.expanded-details {
			padding: 20px;
			background-color: $background;
			border-bottom: 1px solid get($neutral, 'sep');

			h3 {
				color: $foreground;
				margin-top: 0;
			}

			h4 {
				color: $foreground;
				margin-bottom: 10px;
			}

			h5 {
				margin-bottom: 10px;

				&.blue-team {
					color: $primary;
				}

				&.red-team {
					color: get($error, 'base');
				}
			}

			.game-info {
				margin-bottom: 15px;

				strong {
					font-weight: bold;
				}
			}
		}
	}
}
